# Table of Contents
 <p>

In [ ]:
# 10 minutes
# ordered sequence

In [2]:
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [3]:
y = [6, 7, 8, 9, 10]
y

[6, 7, 8, 9, 10]

In [4]:
x + y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
[None] * 5

[None, None, None, None, None]

In [6]:
[None, 3] * 5

[None, 3, None, 3, None, 3, None, 3, None, 3]

In [7]:
# range
range(5)

range(0, 5)

In [8]:
list(range(5))

[0, 1, 2, 3, 4]

In [9]:
range(5, 10)

range(5, 10)

In [13]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [14]:
list(range(5, 10, 3))

[5, 8]

In [16]:
# slicing lists is the same as sincing strings
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
x[0]

1

In [18]:
x[4:9:2]

[5, 7, 9]

In [20]:
# unlike strings, you can change values in a list
# strings are immutable
# lists are mutable
x[1] = 99999
x

[1, 99999, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
s = 'hello guys'
s

'hello guys'

In [22]:
s[0] = 'D'
s

TypeError: 'str' object does not support item assignment

In [24]:
x[-2]

9

In [25]:
x[:3]

[1, 99999, 3]

In [26]:
# Injection!
# not sure what the official name of this is
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [28]:
x[2:3] = ['hello', 'world', 'guys']
x

[1, 2, 'hello', 'world', 'guys', 'world', 4, 5]

In [29]:
x[2:6] = []
x

[1, 2, 4, 5]

In [30]:
len(x)

4

In [31]:
del x[2]
x

[1, 2, 5]

In [32]:
2 in x

True

In [33]:
6 in x

False

In [34]:
6 not in x

True

In [ ]:
# lists can hold heterogenous objects

In [36]:
x = [10, True, 'hello', ['foo', 3.14]]
x

[10, True, 'hello', ['foo', 3.14]]

In [37]:
x[1]

True

In [38]:
x[3]

['foo', 3.14]

In [39]:
x[3][1]

3.14

In [ ]:
# if you start creating multi dimensional lists of numbers
# start using numpy
# otherwise yes, you can create multi-D lists

In [51]:
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [52]:
x.append(10)
x

[1, 2, 3, 4, 5, 10]

In [53]:
x.extend([20, 30]) # in place version of +
x

[1, 2, 3, 4, 5, 10, 20, 30]

In [54]:
x.append([40, 50])
x

[1, 2, 3, 4, 5, 10, 20, 30, [40, 50]]

In [55]:
x.count(3)

1

In [56]:
x.index(10)

5

In [57]:
# insert item 99 in list x at index 1
x.insert(1, 99)
x

[1, 99, 2, 3, 4, 5, 10, 20, 30, [40, 50]]

In [58]:
x.remove(1)
x # remove firt occurance of match

[99, 2, 3, 4, 5, 10, 20, 30, [40, 50]]

In [59]:
x.pop()
x

[99, 2, 3, 4, 5, 10, 20, 30]

In [60]:
x.pop(1)
x

[99, 3, 4, 5, 10, 20, 30]

In [61]:
x.sort() # inplace sort
x

[3, 4, 5, 10, 20, 30, 99]

In [62]:
x = [1, 3, 2, 5, 3, 6, 5, 7]
x

[1, 3, 2, 5, 3, 6, 5, 7]

In [63]:
y = sorted(x) # function sort, that is not inplace
y

[1, 2, 3, 3, 5, 5, 6, 7]

In [64]:
x

[1, 3, 2, 5, 3, 6, 5, 7]

In [65]:
x.reverse() # inplace
x

[7, 5, 6, 3, 5, 2, 3, 1]