In [1]:
l = [1, 2, 3]

In [2]:
l

[1, 2, 3]

In [3]:
for element in l:
    print(element)

1
2
3

In [4]:
for element in l:
    print(element + 1)

2
3
4

In [6]:
new_list = []
for element in l:
    new_list.append(element * 10)

In [7]:
new_list

[10, 20, 30]

In [8]:
new_list_comp = [element * 10 for element in l]
new_list_comp

[10, 20, 30]

In [9]:
import glob

In [ ]:
# glob.glob()

In [11]:
from glob import glob
# from pandas import *
import pandas as pd

In [14]:
glob('../data/concat*.csv')

['../data\\concat_1.csv', '../data\\concat_2.csv', '../data\\concat_3.csv']

In [27]:
# use a loop and load this all into a list of dataframes,
# and then concatente the dataframes
import pandas as pd
glob_list = glob('../data/concat*.csv')
concat_list = []
for element in glob_list:
    concat_list.append(pd.read_csv(element))
concat_output = pd.concat(concat_list)
print(concat_output)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [25]:
datas = pd.concat([pd.read_csv(list1) for list1 in glob_lookup])
datas

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [24]:
# do the same thing as a list comprehension
glob_lookup = glob('../data/concat*.csv')
concat_list = [pd.read_csv(list1) for list1 in glob_lookup]
concat_data = pd.concat(concat_list)
concat_data

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [17]:
import random

In [19]:
random.randint(1, 20)

16

In [20]:
random.randint(1, 20)

15