In [3]:
import pandas as pd
import sqlite3

In [4]:
con = sqlite3.connect('../data/survey.db')

In [7]:
cursor = con.cursor()
cursor.execute("SELECT * FROM Site;")

In [8]:
results = cursor.fetchall()

In [9]:
results

[('DR-1', -49.85, -128.57),
 ('DR-3', -47.15, -126.72),
 ('MSK-4', -48.87, -123.4)]

In [11]:
cursor.close()
con.close()

In [14]:
con = sqlite3.connect('../data/survey.db')
df = pd.read_sql_query("SELECT * FROM Site;", con)
con.close()
df

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40