# Table of Contents
 <p>

In [4]:
import datetime

In [1]:
# set of objects for basic time

In [2]:
# date, time, and date time objects

In [4]:
# date(year, month, day) #in gregorian calendar

In [7]:
d1 = datetime.date(2015, 1, 23)
d1

datetime.date(2015, 1, 23)

In [8]:
d1.strftime("%A %m/%d/%y")

'Friday 01/23/15'

In [9]:
d2 = datetime.date(2015, 1, 19)
d2

datetime.date(2015, 1, 19)

In [10]:
d1 - d2

datetime.timedelta(4)

In [11]:
print(d1 - d2)

4 days, 0:00:00

In [12]:
(d1-d2).days # time delta objects

4

In [13]:
datetime.date.today()

datetime.date(2015, 1, 23)

In [14]:
# time object

In [8]:
t1 = datetime.time(1, 2) # always 24hours
t1

datetime.time(1, 2)

In [9]:
t2 = datetime.time(18)
t2

datetime.time(18, 0)

In [10]:
t1.strftime('%I:%M %p')

'01:02 AM'

In [11]:
# difference is not supported

In [12]:
t2 - t1

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'

In [13]:
# relative times in a day, no date associated with it

In [14]:
#datetime
d1 = datetime.datetime.now()
d1

datetime.datetime(2015, 1, 23, 9, 16, 49, 162037)

In [15]:
d2 = datetime.datetime.now()
d2

datetime.datetime(2015, 1, 23, 9, 18, 34, 819936)

In [16]:
d2 - d1

datetime.timedelta(0, 105, 657899)

In [17]:
datetime.datetime.strptime('1/1/15', '%m/%d/%y') #stringparsetime

datetime.datetime(2015, 1, 1, 0, 0)

In [ ]:
# %a (%A) abbrev (full) weekday name
# w, weekday number (0 for sun,  -- 6)
# b, B abbrev (full) month name
# %d day of month [01, 31]
# H I, 24 hour, 12 hour clock
# j day of year
# m month
# M minute
# p AM/PM
# S second
# U W week number of year U sunday, M monday as first day of week
# y Y year without/with century

In [ ]:
# tz