# Table of Contents
 <p>

In [ ]:
# tuples are immutable lists

In [1]:
x = (1, 2, 3, 4, 5, 6)
x

(1, 2, 3, 4, 5, 6)

In [2]:
type(x)

tuple

In [3]:
x = 1, 2, 3, 4 # don't need parentheses
x

(1, 2, 3, 4)

In [4]:
type(x)

tuple

In [6]:
x = (10) # creating length 1 tuples
x

10

In [7]:
type(x)

int

In [8]:
x = (10, )
x

(10,)

In [9]:
type(x)

tuple

In [10]:
# casting tuples
l = [1, 2, 3, 4, 5]
l

[1, 2, 3, 4, 5]

In [11]:
type(l)

list

In [12]:
t = tuple(l)
t

(1, 2, 3, 4, 5)

In [13]:
type(t)

tuple

In [14]:
t[3]

4

In [15]:
t[3] = 4

TypeError: 'tuple' object does not support item assignment

In [ ]:
# only count and index methods

In [ ]:
# where you would use tuples

# old style str formatting

# dictionary keys ()

# namedtuple in collections module for a way to name tuples
# instead of accessing through index

# querrying form a database
# rows returned as a tuples

# nametuple in collections
# instead of person[0]
# you can use person.first
# readability!

In [16]:
from collections import namedtuple
Person = namedtuple("Person", ['first', 'last', 'gender'])
person = Person("Daniel", "Chen", "male")
person[0]

'Daniel'

In [17]:
person.first

'Daniel'